:root {
  --text-color: #fff;
  --bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #e0ed5e;
    --bg-color: #000;
  }
}

html {
  font-family: 'Pingfang SC', 'Helvetica Neue', 'Helvetica', 'Arial',
    'Microsoft YaHei', '微软雅黑', 'STHeitiSC-Light', 'sans-serif';
}

html.dark {
  color: var(--text-color);
  /* 背景色 */
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}
